[workspace]
members = [
  "crates/*"
]
resolver = "2"

[workspace.dependencies]

augurs-core = { version = "0.1.0-alpha.0", path = "crates/augurs-core" }
augurs-ets = { version = "0.1.0-alpha.0", path = "crates/augurs-ets" }
augurs-mstl = { version = "0.1.0-alpha.0", path = "crates/augurs-mstl" }
augurs-testing = { version = "0.1.0-alpha.0", path = "crates/augurs-testing" }

distrs = "0.2.1"
itertools = "0.11.0"
serde = { version = "1.0.166", features = ["derive"] }
thiserror = "1.0.40"
tracing = "0.1.37"

assert_approx_eq = "1.1.0"
criterion = "0.5.1"
iai = "0.1.1"
pprof = { version = "0.12.0", features = ["criterion", "frame-pointer", "prost-codec"] }
