[package]
name = "augurs-js"
version = "0.1.0"
license = "MIT/Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["console_error_panic_hook"]

[dependencies]
augurs-core = { workspace = true, features = ["serde"] }
augurs-ets = { workspace = true, features = ["mstl", "serde"] }
augurs-mstl = { workspace = true, features = ["serde"] }
# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
console_error_panic_hook = { version = "0.1.7", optional = true }
js-sys = "0.3.61"
serde-wasm-bindgen = "0.5.0"
tracing-wasm = "0.2.1"
wasm-bindgen = "0.2.63"
