name: augurs-js

on:
  push:
    branches: ["main"]
  pull_request:

env:
  CARGO_TERM_COLOR: always

permissions: {}

jobs:
  test:
    name: JS tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: stable
          targets: wasm32-unknown-unknown

      - uses: taiki-e/install-action@3522286d40783523f9c7880e33f785905b4c20d0 # v2.66.1
        with:
          tool: just,wasm-pack

      - name: Build augurs-js
        run: just build-augurs-js

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: js/.node-version
      - name: Install dependencies
        run: npm ci
        working-directory: js/testpkg
      - name: Run typecheck
        run: npm run typecheck
        working-directory: js/testpkg
      - name: Run tests
        run: npm run test:ci
        working-directory: js/testpkg
