name: Python tests

on:
  push:
    branches: ["main"]
  pull_request:

permissions: {}

jobs:
  test:
    name: Python tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@7edac99f961f18b581bbd960d59d049f04c0002f # v6.4.1
      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version-file: crates/pyaugurs/pyproject.toml
      - name: Setup virtualenv
        run: uv venv --project crates/pyaugurs
      - name: Build wheel
        uses: PyO3/maturin-action@35be3186fc8e037e329f06b68dcd807d83dcc6dc # v1.49.2
        with:
          command: develop
          target: x86_64
          args: --uv
          working-directory: crates/pyaugurs
          sccache: "true"
      - name: Install deps
        run: uv sync --project crates/pyaugurs --all-extras --dev
      - name: Run tests
        run: uv run --project crates/pyaugurs pytest crates/pyaugurs/tests
