name: Python tests

on:
  push:
    branches: ["main"]
  pull_request:

permissions: {}

jobs:
  test:
    name: Python tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: crates/pyaugurs/pyproject.toml
      - name: Setup virtualenv
        run: uv venv --project crates/pyaugurs
      - name: Build wheel
        uses: PyO3/maturin-action@86b9d133d34bc1b40018696f782949dac11bd380 # v1.49.4
        with:
          command: develop
          target: x86_64
          args: --uv
          working-directory: crates/pyaugurs
          sccache: "true"
      - name: Install deps
        run: uv sync --project crates/pyaugurs --all-extras --dev
      - name: Run tests
        run: uv run --project crates/pyaugurs pytest crates/pyaugurs/tests
