name: Python tests

on:
  push:
    branches: ["main"]
  pull_request:
    
jobs:
  test:
    name: Python tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install uv
        uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5.4.2
      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version-file: crates/pyaugurs/pyproject.toml
      - name: Setup virtualenv
        run: uv venv --project crates/pyaugurs
      - name: Build wheel
        uses: PyO3/maturin-action@aef21716ff3dcae8a1c301d23ec3e4446972a6e3 # v1.49.1
        with:
          command: develop
          target: x86_64
          args: --uv
          working-directory: crates/pyaugurs
          sccache: 'true'
      - name: Install deps
        run: uv sync --project crates/pyaugurs --all-extras --dev
      - name: Run tests
        run: uv run --project crates/pyaugurs pytest crates/pyaugurs/tests
