name: build-prophet-wasmstan

on:
  push:
    branches: ["main"]
  pull_request:

env:
  CARGO_TERM_COLOR: always

permissions: {}

jobs:
  build:
    name: Prophet WASMStan component
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e
        with:
          toolchain: stable
      - uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: cargo-binstall,just,ripgrep,wasmtime
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install deps
        run: just components/install-deps
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      - name: Run node test
        run: just components/test
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: prophet-wasmstan.wasm
          path: components/cpp/prophet-wasmstan/prophet-wasmstan.wasm
      - name: Copy prophet-wasmstan.wasm to augurs
        run: just copy-component-wasm
      - name: Ensure no diffs
        run: git diff --exit-code -- crates/augurs-prophet/prophet-wasmstan.wasm
