name: build-prophet-wasmstan

on:
  push:
    branches: ["main"]
  pull_request:

env:
  CARGO_TERM_COLOR: always

permissions: {}

jobs:
  build:
    name: Prophet WASMStan component
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: stable
      - uses: taiki-e/install-action@650c5ca14212efbbf3e580844b04bdccf68dac31 # v2.67.18
        with:
          tool: cargo-binstall,just,ripgrep,wasmtime
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install deps
        run: just components/install-deps
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      - name: Run node test
        run: just components/test
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: prophet-wasmstan.wasm
          path: components/cpp/prophet-wasmstan/prophet-wasmstan.wasm
      - name: Copy prophet-wasmstan.wasm to augurs
        run: just copy-component-wasm
      - name: Ensure no diffs
        run: git diff --exit-code -- crates/augurs-prophet/prophet-wasmstan.wasm
